* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
label {
  font-family: "Open Sans", sans-serif;
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes slideTopIn {
  to {
    top: 15%;
    opacity: 1;
  }
}

@keyframes lineDown {
  0% {
    transform: scale(1, 0);
    transform-origin: top center;
  }

  25% {
    transform: scale(1, 1);
    transform-origin: top center;
  }

  75% {
    transform: scale(1, 1);
    transform-origin: top center;
  }

  76% {
    transform: scale(1, 1);
    transform-origin: bottom center;
  }

  100% {
    transform: scale(1, 0);
    transform-origin: bottom center;
  }
}

@keyframes arrowDown {
  0% {
    bottom: 25px;
  }

  30% {
    bottom: 15px;
    opacity: 1;
  }

  70% {
    bottom: 10px;
    opacity: 1;
  }

  100% {
    bottom: 5px;
    opacity: 0;
  }
}

@keyframes scaleRight {
  to {
    transform: scaleX(1)
  }
}

@keyframes scaleUp {
  to {
    transform: scale(1)
  }
}

@media screen and (min-width: 320px) {

  .pj-page-wrapper,
  .pj-preloader {
    width: 100%;
    height: 100vh;
    display: table;
    background-color: #1c1c1c;
    border: 30px solid #000;
  }

  .pj-preloader {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
  }

  .pj-preloader-inner {
    margin-top: -45px;
  }

  .pj-overlay {
    width: 100%;
    height: 100vh;
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(76, 9, 114, 0.95);
  }

  .pj-modal {
    width: 800px;
    display: none;
    padding: 30px;
    border-radius: 0 30px 30px 30px;
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1200;
    opacity: 0;
  }

  .pj-modal-header,
  .pj-modal-body,
  .pj-form {
    width: 100%;
    display: table;
    position: relative;
  }

  .pj-close-modal {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    color: #4c0972;
    text-align: center;
    line-height: center;
    cursor: pointer;
    position: absolute;
    top: -15px;
    right: -15px;
    border: none;
    background-color: #2f2f2f;
  }

  .pj-form label {
    margin-bottom: 10px;
    font-size: 16px;
    display: inline-block;
  }

  .pj-field,
  .pj-textarea {
    width: 100%;
    background-color: #2f2f2f;
    border-radius: 4px;
    color: #fff;
    border: none;
    font-size: 16px;
    text-indent: 15px;
  }

  .pj-field {
    height: 45px;
  }

  .pj-topbar {
    width: 100%;
    height: 110px;
    display: block;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
  }

  .pj-logo {
    width: 74px;
    height: 110px;
    float: left;
    margin-left: 60px;
    background-color: #4c0972;
    border-radius: 0 0 37px 0;
  }

  .pj-logo img {
    width: 46px;
    height: 31px;
    display: block;
    margin: 55px auto 0 auto;
  }

  .pj-menu {
    display: none;
  }

  .pj-btn-contact {
    width: 45px;
    height: 45px;
    display: block;
    background-color: #4c0972;
    background-image: url("../images/icon-contact-close.svg");
    background-repeat: no-repeat;
    position: fixed;
    bottom: 45px;
    right: 45px;
    border-radius: 50%;
    z-index: 200;
    transition: all 0.2s ease-out;
    border: none;
    cursor: pointer;
  }

  .pj-contact-info {
    width: 245px;
    height: 165px;
    padding: 25px;
    position: fixed;
    bottom: 115px;
    right: 65px;
    z-index: 200;
    display: none;
  }

  .pj-contact-info-inner {
    display: table;
    width: 100%;
    float: right;
  }

  .pj-contact-info-inner p {
    font-size: 18px;
    line-height: 24px;
  }

  .pj-social-links {
    width: 100%;
    height: 45px;
    display: block;
    position: relative;
    left: -12px;
    margin-top: 7px;
  }

  .pj-social {
    width: 45px;
    height: 45px;
    display: inline-block;
  }

  .pj-social>img {
    width: 20px;
    height: auto;
    display: block;
    margin: 13px auto 0;
  }

  .pj-corner {
    width: 25px;
    height: 25px;
    display: block;
    float: right;
    display: relative;
  }

  .pj-corner:after {
    content: "";
    width: 25px;
    height: 25px;
    display: block;
    position: absolute;
    bottom: -23px;
    right: 0;
    background: transparent url("../images/corner.svg") no-repeat;
  }

  /*----HOME----*/

  .pj-display-text {
    margin-top: 10%;
  }

  #pj-home-presentation {
    background-image: url("../images/joao-lemon-designer-home.png");
    background-repeat: no-repeat;
    background-position: 50% bottom;
    position: relative;
  }

  .pj-scroll-down {
    width: 70px;
    height: 105px;
    border-radius: 35px 35px 0 0;
    background-color: #4c0972;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 100;
  }

  .pj-arrow-down {
    width: 100%;
    height: 75px;
    display: table;
    margin-top: 30px;
    position: relative;
  }

  .pj-arrow-down img {
    width: 16px;
    height: 10px;
    display: block;
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    animation: arrowDown 1.5s linear 1.5s infinite;
  }

  .pj-arrow-down:before {
    content: "";
    width: 2px;
    height: 45px;
    display: block;
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #000;
    animation: lineDown 1.5s ease-out infinite;
    transform-origin: top center;
  }

  /*-------------------- HOME - PORTFOLIO ----------------------*/

  .pj-portfolio-navigator {
    width: 145px;
    height: 400px;
    display: table;
    position: absolute;
    left: 15px;
    top: 26vh;
  }

  .pj-navigator-counter {
    width: 100%;
    height: 90px;
    display: block;
    margin-bottom: 60px;
    position: relative;
  }

  .pj-navigator-counter:before {
    content: '';
    display: block;
    width: 35px;
    height: 100%;
    background-color: #1c1c1c;
    position: absolute;
    top: 3px;
    left: 0;
  }

  .pj-navigator-counter span {
    font-family: 'Open Sans', sans-serif;
    font-size: 120px;
    line-height: 90px;
    font-weight: 600;
  }

  .pj-item-navigator {
    width: 100%;
    display: table;
  }

  .pj-item-navigator a {
    width: 20px;
    height: 1px;
    display: block;
    margin: 0 0 80px 35px;
    background-color: #4D4C4C;
  }

  .pj-item-navigator a.pj-item-active {
    width: 90px;
    background-color: #4c0972;
  }

  .pj-item-navigator a:last-child {
    margin-bottom: 30px;
  }

  .pj-items-next-prev {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2C2C2C;
    border-radius: 23px;
  }

  .pj-items-next-prev>div {
    height: 32px;
  }

  .pj-items-counter {
    font-family: 'Open Sans', sans-serif;
    color: #4D4C4C;
    line-height: 32px;
  }

  .pj-item-prev,
  .pj-item-next {
    width: 45px;
    color: #7807b9;
    text-align: center;
    cursor: pointer;
  }

  .pj-items-counter span:nth-child(1) {
    color: #bcbcbc;
  }

  .pj-items-counter span:nth-child(2) {
    color: #4D4C4C;
  }

  ion-icon {
    font-size: 32px;
  }

  .pj-slider-container {
    display: block;
    overflow: hidden;
  }

  .pj-slider-list {
    width: auto;
    height: 700px;
    display: block;
    list-style: none;
  }

  .pj-slider-item {
    display: block;
    height: 500px;
    float: left;
    margin-top: calc(26vh - 75px);
  }

  .pj-portfolio-item-info {
    width: calc(100% - 75px);
    display: table;
    margin-top: 73px;
  }

  .pj-portfolio-item-thumb {
    width: 100%;
    display: table;
    padding: 75px 0 19px 0;
    position: relative;
  }

  .pj-portfolio-item-thumb>button {
    margin-top: 17px;
    margin-right: 75px;
    float: right;
  }

  .pj-portfolio-item-box {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #2C2C2C;
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
  }


  .pj-portfolio-item-thumb img {
    width: 100%;
    max-width: 100%;
    height: auto;
    position: relative;
    left: -75px;
    transform: scale(0)
  }
}

@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {
  .pj-menu {
    display: table;
    float: left;
    height: 110px;
    margin-left: 30px;
  }

  .pj-menu a {
    font-family: "Open Sans";
    font-size: 16px;
    color: #bcbcbc;
    text-decoration: none;
    text-transform: lowercase;
    display: inline-block;
    margin: 50px 20px 0 20px;
    font-weight: 400;
    position: relative;
  }

  .pj-menu a:first-child {
    margin-left: 0;
  }

  .pj-menu a:hover {
    color: #7807b9;

  }

  .pj-menu a:before {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #7807b9;
    display: block;
    position: absolute;
    bottom: -6px;
    left: 0;
    transition: all 0.2s ease-out;
    transform: scale(0, 1);
    transform-origin: center left;
  }

  .pj-menu a:hover:before {
    transform: scale(1, 1);
  }
}

@media screen and (min-width: 1200px) {}

@media screen and (min-width: 1364px) {}

@media screen and (min-width: 1600px) {}

/* BOTÕES */

.pj-btn {
  display: table;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  border: none;
  transition: all 0.2s ease-out;
  text-transform: lowercase;
  cursor: pointer;
  position: relative;
}

.pj-btn ion-icon {
  font-size: 21px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 2px;
  margin-top: -3px;
}

.pj-btn-block {
  display: block;
  width: 100%;
}

.pj-btn-small {
  line-height: 28px;
  height: 28px;
  padding: 0 20px;
  border-radius: 14px;
  font-size: 11px;
}

.pj-btn-medium {
  line-height: 38px;
  height: 38px;
  padding: 0 27px;
  border-radius: 19px;
  font-size: 14px;
}

.pj-btn-large {
  line-height: 45px;
  height: 45px;
  padding: 0 35px;
  border-radius: 23px;
  font-size: 16px;
}

.pj-btn-purple {
  background-color: #4c0972;
  color: #000;
}

.pj-btn-purple:hover {
  background-color: #4c0972;
  color: #fff;
}

.pj-btn-dark {
  background-color: #151515;
  color: #4c0972;
}

.pj-btn-dark:hover {
  background-color: #2f2f2f;
  color: #fff;
}

/* CLASSES UTILITARIAS */

.pj-title {
  font-family: "Abril Fatface", serif;
  font-weight: normal;
}

.pj-title-large {
  font-size: 64px;
}

.pj-title-xlarge {
  font-size: 120px;
}

.pj-text-purple {
  color: #4c0972;
}

.pj-text-light-purple {
  color: #7807b9;
}

.pj-text-dark {
  color: #4d4c4c;
}

.pj-text-light {
  color: #bcbcbc;
}

.pj-text-black {
  color: #000;
}

.pj-bg-purple {
  background-color: #4c0972;
}

.pj-bg-dark {
  background-color: #4d4c4c;
}

.pj-bg-light {
  background-color: #bcbcbc;
}

.pj-bg-black {
  background-color: #000;
}

.pj-mar-15 {
  margin: 15px;
}

.pj-mar-top-15 {
  margin-top: 15px;
}

.pj-mar-right-15 {
  margin-right: 15px;
}

.pj-mar-bottom-15 {
  margin-bottom: 15px;
}

.pj-mar-left-15 {
  margin-left: 15px;
}

.pj-pad-15 {
  padding: 15px;
}

.pj-pad-top-15 {
  padding-top: 15px;
}

.pj-pad-right-15 {
  padding-right: 15px;
}

.pj-pad-bottom-15 {
  padding-bottom: 15px;
}

.pj-pad-left-15 {
  padding-left: 15px;
}

.pj-mar-30 {
  margin: 30px;
}

.pj-mar-top-30 {
  margin-top: 30px;
}

.pj-mar-right-30 {
  margin-right: 30px;
}

.pj-mar-bottom-30 {
  margin-bottom: 30px;
}

.pj-mar-left-30 {
  margin-left: 30px;
}

.pj-pad-30 {
  padding: 30px;
}

.pj-pad-top-30 {
  padding-top: 30px;
}

.pj-pad-right-30 {
  padding-right: 30px;
}

.pj-pad-bottom-30 {
  padding-bottom: 30px;
}

.pj-pad-left-30 {
  padding-left: 30px;
}

.pj-full-height {
  height: 100vh;
  position: relative;
}

.pj-first-section {
  height: calc(100vh - 30px);
}

.pj-no-padding {
  padding: 0 !important;
}

/* CLASSES COMPORTAMENTO */

.pj-is-open {
  display: block;
}

.pj-slide-top-in {
  animation: slideTopIn 0.6s forwards cubic-bezier(0, 1.11, 0.6, 0.89);
}

.pj-change-icon {
  background-position-y: -45px;
}

.pj-fade-out {
  animation: fadeOut 2s forwards ease-out;
}

.pj-fade-from-left {
  animation: fadeFromLeft 2s 0.7s forwards cubic-bezier(0, 1.01, .32, 1);
}

.pj-scale-right {
  animation: scaleRight 0.7s 0.2s forwards cubic-bezier(0, 1.01, .32, 1);
}

.pj-scale-up {
  animation: scaleUp 0.5s 0.5s forwards cubic-bezier(0, 1.01, .32, 1);
}

.pj-no-radius-left {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.pj-no-radius-right {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.red {
  background: red;
}

.green {
  background: green;
}

.blue {
  background: blue;
}

.yellow {
  background: yellow;
}

.purple {
  background: purple;
}